<% content_for :body_full do %>

<div data-role="page" id="page-matches">
	  <div data-role="header" data-theme="a">
			 <a href="javascript:history.back()" data-icon="back" data-iconpos="notext" data-direction="reverse" class="ui-btn-left jqm-home">Back</a> 
			<h1><%= @player.username %> - Matches</h1>
			<a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
		  </div>

		<%= render :partial => "/players/player_menu", :locals => { :active_menu => 'matches' } %>

	<div data-role="content">

			<div id="match-list" class="stat_view">
			<ul data-role="listview" class="ui-listview">
				<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-btn ui-bar-d">
					Matches
				</li>
				<% @player_matches.each do |match| %>
				<li  data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c" >
					<span class="result-icon bg-<%= get_match_color(match)  %>"></span> <%= match.home_team.display_name  %> 
					(<%= match.home_score  %>) vs (<%= match.away_score  %>) <%= match.away_team.display_name  %>			 
				</li>
				<% end %>
			</ul>

			<br />
			</div>



	</div>

</div>

<% end %>

