<% content_for :body_full do %>


<div data-role="page" id="page-info">

	
	<script language="javascript" type="text/javascript" src="/ui/flot/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="/ui/flot/jquery.flot.pie.js"></script>
    <script language="javascript" type="text/javascript" src="/ui/flot/jquery.flot.resize.js"></script>


	  <div data-role="header" data-theme="a">
		 <a href="javascript:history.back()" data-icon="back" data-iconpos="notext" data-direction="reverse" class="ui-btn-left jqm-home">Back</a> 
		<h1><%= @player.username %></h1>
		<a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
	  </div>

	<div data-role="navbar">
		<ul>
			<li><a  href="#page-info" class="ui-btn-active">Info</a></li>
			<li><a  href="#page-matches">Matches</a></li>
			<li><a  href="#page-pie">Won/Lost</a></li>
			<li><a  href="#page-ranking">Ranking</a></li>
		</ul>
	</div>

	<div data-role="content">
		<div style="padding:0 8px 0 8px 0">

		<p id="notice"><%= notice %></p>

		<h2><%= @player.username %></h2>
		<p>
		  <b>Score:</b>
		  <%= @player.score %>
		</p>

		<%= render :partial => "/shared/rating", :locals => { :player => @player } %>
		<br />

		<p>
		  <b>Email:</b>
		  <%= @player.email %>
		</p>
		<br />

		</div>

	</div>
</div>

<div data-role="page" id="page-matches">
	  <div data-role="header" data-theme="a">
			 <a href="javascript:history.back()" data-icon="back" data-iconpos="notext" data-direction="reverse" class="ui-btn-left jqm-home">Back</a> 
			<h1><%= @player.username %> - Matches</h1>
			<a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
		  </div>

		<div data-role="navbar">
			<ul>
				<li><a  href="#page-info" class="ui-btn-active">Info</a></li>
				<li><a  href="#page-matches">Matches</a></li>
				<li><a  href="#page-pie">Won/Lost</a></li>
				<li><a  href="#page-ranking">Ranking</a></li>
			</ul>
		</div>

<div data-role="content">


	<!-- matches -->
	
	
	<%

		def color(m)
			winner_team = nil
		
<<<<<<< HEAD
		if(m.home_score > m.away_score)
			winner_team = m.home_team
		elsif(m.home_score < m.away_score)
			winner_team = m.away_team
		else
			return 'gray'
		end
=======
			if(m.home_score > m.away_score)
				winner_team = m.home_team
			elsif(m.home_score < m.away_score)
				winner_team = m.away_team
			else
				return ''
			end
>>>>>>> a52788d955d2679f97958127ea529fc9a19f111f
		
			if(winner_team.players.include?(@player))
				return 'green'
			else
				return 'red'
			end

		
<<<<<<< HEAD
	end
%>

<style>
 .result-icon {display:inline-block;margin-right:10px;height:10px;width:10px;background-color:red}
 .red {background-color:red}
 .green {background-color:green}
 .gray {background-color:gray}
 
</style>

<ul data-role="listview" class="ui-listview">
	<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-btn ui-bar-d">
		Matches
	</li>
	<% @player_matches.each do |match| %>
	<li  data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c" >
	  <span class="result-icon <%= color(match) %>"></span> <%= match.home_team.display_name  %> (<%= match.home_score  %>) vs (<%= match.away_score  %>) <%= match.away_team.display_name  %>
=======
		end
	%>

	<style>
	 .result-icon {display:inline-block;margin-right:10px;height:10px;width:10px;background-color:red}
	 .red {background-color:red}
	 .green {background-color:green}
>>>>>>> a52788d955d2679f97958127ea529fc9a19f111f
	 
	</style>
		<div id="match-list" class="stat_view">
		<ul data-role="listview" class="ui-listview">
			<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-btn ui-bar-d">
				Matches
			</li>
			<% @player_matches.each do |match| %>
			<li  data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c" >
			  <span class="result-icon <%= color(match) %>"></span> <%= match.home_team.display_name  %> (<%= match.home_score  %>) vs (<%= match.away_score  %>) <%= match.away_team.display_name  %>
			 
			</li>
			<% end %>
		</ul>

		<br />
		</div>



</div>

</div>

<div data-role="page" id="page-pie">
		  <div data-role="header" data-theme="a">
			 <a href="javascript:history.back()" data-icon="back" data-iconpos="notext" data-direction="reverse" class="ui-btn-left jqm-home">Back</a> 
			<h1><%= @player.username %> - Pie</h1>
			<a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
		  </div>

		<div data-role="navbar">
			<ul>
				<li><a  href="#page-info" class="ui-btn-active">Info</a></li>
				<li><a  href="#page-matches">Matches</a></li>
				<li><a  href="#page-pie">Won/Lost</a></li>
				<li><a  href="#page-ranking">Ranking</a></li>
			</ul>
		</div>
	<div data-role="content">
	
	
	
	
		<script>

		$(function () {
			// data
			var data = [
				{ label: "Games lost",  data: <%= @players_games_lost %>},
				{ label: "Games won",  data: <%= @players_games_won %>},
				{ label: "Draws",  data: <%= @players_games_draw %>}
			];


			// GRAPH 1
			$.plot($("#graph"), data, 
			{
				series: {
					pie: { 
						show: true,
						background:{color:'#000'}
					}
				},
				legend: {
					show: false
				},
				colors: ["#f1375e","#7bd234", "#afb0af"]
			});
		});	
		
		
		

		</script>
		<div id="graph" class="stat_view" style="width:300px;height:300px;">

		</div>
		
		<br />
		<br />
	
	
	</div>
</div>

<div data-role="page" id="page-ranking">
		  <div data-role="header" data-theme="a">
			 <a href="javascript:history.back()" data-icon="back" data-iconpos="notext" data-direction="reverse" class="ui-btn-left jqm-home">Back</a> 
			<h1><%= @player.username %> - Ranking</h1>
			<a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
		  </div>

		<div data-role="navbar">
			<ul>
				<li><a  href="#page-info" class="ui-btn-active">Info</a></li>
				<li><a  href="#page-matches">Matches</a></li>
				<li><a  href="#page-pie">Won/Lost</a></li>
				<li><a  href="#page-ranking">Ranking</a></li>
			</ul>
		</div>
		<%= render 'historic_ranking' %>
</div>



<% end %>


<%#= link_to 'Edit', edit_player_path(@player) %> |
<%#= link_to 'Back', players_path %>
